/* @fwrlines/generator-react-component 2.5.1 */

/*

Classes :
.article_card : default

*/
$cardBoxShadow: .3em .3em 1em rgba(12, 12, 12, .8);

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes remove-box-shadow {
  from {
    box-shadow: $cardBoxShadow;
  }

  to {
    box-shadow: 0 0 0 transparent;
  }
}

.article_card_wrapper {
  background: var(--y);
  height: 100%;
  scroll-snap-align: start;
  transition: padding .9s ease-in-out;
  width: 100%;

  &.open {
    padding: var(--u);

    .article-card {
      box-shadow: $cardBoxShadow;
      //transition: box-shadow .5s ease-in-out;
    }
  }

  &:not(.open) {
    //background: red;

    .article-card {
      //box-shadow: $cardBoxShadow;
    }
  }
}

.article-card {
  //transition: box-shadow .5s ease-in-out;
  background: var(--light-x);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow .5s ease-in-out;

  .read-more {
    animation: reveal 2s 1 forwards;
    margin-bottom: var(--u);
    margin-top: auto;
    opacity: 0;
    text-align: center;
  }

  &.clickable {
    cursor: pointer;
  }
}
