/* @fwrlines/generator-react-component 2.1.1 */

/*

Classes :
.main : default

*/

.dashboard .main {
  background: var(--light-y, var(--light-background));
  box-shadow: -.25em 0 2em 0 rgba(0, 0, 0, .15);
  height: 100vh;
  transition: all .3s;

  z-index: 2;

  @media (max-width: 899px) {
    display: flex;
    flex-direction: column;
    left: 110%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;

    .page {
      flex-grow: 99;
      min-height: auto;
    }


    &.active {
      left: 0;
    }
  }

  @media (min-width: 900px) {
    grid-column-end: span 12;
  }
}
