/* @fwrlines/generator-react-component 2.4.1 */
/*

Classes :
.object_card : default

*/

.object_card{
  &.front-face {
  display:flex;
  flex-direction:column;
  justify-content:space-between;

  main {
    flex-grow:99;
  }

  }

}
