/* @fwrlines/generator-react-component 2.4.1 */
/*

Classes :
.object_state : default

*/

.object_state{
  &:not(.simple){
  display:grid;
  grid-template-columns: [field] max-content [message] auto;

  }

  & > div {
    padding:.3em .3em;
  }

  & > .summary {
      grid-column: field / span 2;
  }

  & > .field {
      grid-column: field / span 1;
      font-weight:bold;
  }

  & > .message {
      grid-column: message / span 1;

  }

  &.simple {
    white-space:nowrap;
  }


}
