/* @fwrlines/generator-react-component 2.4.1 */

/*

Classes :
.object_state : default

*/

.object_state {
  max-width:600px;
  
  &:not(.simple) {
    .message-item .content {
      display: grid;
      grid-gap: .5em;
      grid-template-columns: [field] max-content [message] auto;
    }
  }

  & > div {
    //padding: .3em .3em;
  }

  .message-item .content {
    & .summary {
      grid-column: field / span 2;
    }

    & > .field {
      font-weight: bold;
      grid-column: field / span 1;
    }

    & > .message {
      grid-column: message / span 1;
    }
  }


  &.simple {
    white-space: nowrap;
  }
}
