.associations_view {
  .belongs-to,
  .has-one,
  .has-many {
    display:grid;
    justify-content:center;
    //width:max-content;
    grid-template-columns:repeat(auto-fit, minmax(300px, 400px));
    grid-gap:calc(var(--u, 1) * .5em);
  }
}
